.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 20px;
    line-height: 22px;
    color: var(--black);
  }
}

.field {
  display: flex;
  align-items: center;
  column-gap: 14px;

  padding: 10px 14px;
  border-radius: 60px;
  background: var(--grey);

  svg {
    color: #999;
  }

  input {
    font-size: 14px;
    color: var(--black);
    border: 0;
    background: transparent;

    &::placeholder {
      color: #999;
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  margin-top: 55px;
  padding-bottom: 84px;
}