.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  column-gap: 16px;

  .avatar__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--regular-light-purple);
    display: flex;
    
    svg {
      margin: auto;
      color: var(--white);
    }
  }

  .avatar__info {
    color: var(--white);
    font-size: 18px;
  }
}

.userInfo__button {
  display: flex;
  align-items: center;
  column-gap: 12px;

  border: 0;
  background: transparent;
  padding: 10px 20px;
  border-radius: 6px;
  transition: .3s;

  span, svg {
    color: var(--white);
  }

  span {
    font-size: 18px;
    font-weight: 400;
  }

  &:hover {
    background: var(--regular-light-purple);
  }
}