.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;

  min-height: 100vh;

  main, .header__content {
    width: 100%;
    max-width: 1366px;
    padding: 0 20px;
  }

  @media(max-width: 600px) {
    padding-bottom: 50px;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 48px 0;
  background: var(--regular-purple);

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 64px;
  }

  @media(max-width: 768px) {
    .header__content {
      row-gap: 12px;
    }
  }
}