.action {
  overflow: hidden;
  border-radius: 6px;

  &.action__disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
    filter: grayscale(1);
  }
}

.action__info, .action__footer {
  display: flex;
  padding: 30px;

  @media(max-width: 600px) {
    padding: 16px;
  }
}

.action__info {
  flex-direction: column;
  row-gap: 12px;

  background: var(--grey);

  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 22px;
    line-height: 25px;
    color: var(--black);
    font-weight: 400;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 14px;
      color: var(--white);
      
      width: 76px;
      height: 27px;
      border-radius: 40px;
      background: var(--regular-purple);
    }
  }

  p {
    font-size: 16px;
    line-height: 18px;
  }

  @media(max-width: 600px) {
    row-gap: 6px;
    
    h1 {
      font-size: 18px;
      line-height: 22px;
  
      span {
        font-size: 12px;
        width: 60px;
        height: 24px;
      }
    }
  
    p {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.action__footer {
  align-items: center;
  justify-content: space-between;

  background: var(--regular-purple);

  p {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);

    strong {
      margin-right: 4px;
    }

    & + p {
      margin-top: 12px;
    }
  }

  a, button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    text-transform: uppercase;

    border: 0;
    width: 159px;
    height: 42px;
    border-radius: 40px;
    background: var(--regular-light-purple);

    transition: background 0.4s;

    &:hover {
      background: var(--tag-light-purple);
    }
  }

  @media(max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    column-gap: 0;
    row-gap: 16px;

    p {
      font-size: 14px;
      line-height: 16px;
  
      & + p {
        margin-top: 6px;
      }
    }
  
    a, button {
      width: 100%;
      border-radius: 6px;      
    }
  }

}