.walletInfo {
  width: 100%;
  display: flex;
  column-gap: 15px;

  div {
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    width: 280px;
    padding: 20px;
    border-radius: 6px;
    background: var(--regular-light-purple);

    p {
      color: var(--white);
      font-size: 16px;
      font-weight: 400;
    }

    strong {
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
    }
  }

  @media(max-width: 768px) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 12px;

    div {
      width: 100%;
    }
  }
}

.walletInfo__button {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;

  margin: auto 0;

  display: flex;
  border: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: var(--white);
  background: var(--regular-purple);

  transition: .3s;

  &:hover {
    background: var(--light-purple);
  }

  svg {
    margin: auto;
  }
}